/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.company-logo{
    height: 60px;
}
nav.sidebar.close .company-logo{
    height: auto;
}
.hide{
    display: none;
}
.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: #151529;
    transition: all 0.3s ease;
    z-index: 999;
}

.sidebar.close {
  width: 78px;
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 80px);
}

.home-section {
  position: absolute;
  background: #f2f2f7;
  height: 100vh;
  left: 250px;
  top: 0px;
  width: calc(100% - 250px);
  transition: all 0.5s ease;
}

.sidebar.close .text {
  display: none;
}

p.menu-p {
    letter-spacing: .05em;
    cursor: default;
    font-size: 11px;
    text-transform: uppercase;
    color: var(--vz-vertical-menu-title-color);
    font-weight: 600;
    color: #6d7080;
}

.sidebar li a {
    list-style: none;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 0.625rem 0px;
}
.sidebar li a:hover .text {
  color: #FFF;
}
.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    padding-top: 25px;
}
.sidebar .text {
    font-size: 17px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 1;
    color: #a3a6b7;
    transition: all 0.3s ease;
}
.menu-links li a i {
    min-width: 39px;
    font-size: 18px;
    color: #a3a6b7;
    margin-right: 2px;
    text-align: center;
}

.header {
  width: 100%;
  background: #fff;
  position: sticky;
  top: 0;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
}
.panel {
    padding-left: 28px;
    display: none;
    overflow: hidden;
    transition: 0.9s;
}
ul li{
  cursor: pointer;
}
/* .custom-padding {
  padding: 30px;
}
.four-dived li {
  width: 24%;
  display: inline-block;
  padding: 0px 15px;
  vertical-align: top;
}
.earning-box {
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #e1e1e1;
  border-radius: 0.25rem;
  padding: 1rem 1rem;
  box-shadow: 0px 0px 5px #e1e1e1;
  margin-bottom: 15px;
  transition: 0.9s;
}

.earning-box:hover {
  margin-top: -5px;
}

p.gray-total {
  color: #878a99;
  font-size: 14px;
  text-transform: uppercase;
}

.total-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p.value-total {
  font-size: 14px;
}

.text-green {
  color: #45CB85;
}

.usd-value {
  margin-top: 20px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.left-usd h4 {
  font-weight: 600;
  font-size: 22px;
  color: #495057;
  margin-bottom: 20px;
} */






/* .sidebar[_ngcontent-ipc-c211] .text[_ngcontent-ipc-c211] {
  font-size: 17px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 1;
  color: #a3a6b7;
  transition: all 0.3s ease;
}
a.active span {
  color: red!important;
} */



.sidebar a.active span{
  color: white!important;
  font-weight: 500;
}







.example-accordion {
  display: block;
  max-width: 500px;
}

.example-accordion-item {
  /* display: block; */
  /* border: solid 1px #ccc; */
}

/* .example-accordion-item + .example-accordion-item {
  border-top: none;
} */

/* .example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
} */

.example-accordion-item-description {
  font-size: 0.85em;
  color: white!important;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  /* background-color: #eee; */
}

/* .example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
} */

ul li{
  list-style: none;
  color: #9092a4;
}

.example-accordion-item-header{
  font-size: 17px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 1;
    color: #a3a6b7;
    transition: all 0.3s ease;
}