
    <nav class="sidebar"[class.close]="toggling">
      <header>
        <div class="d-flex justify-content-center align-items-center">
            <img src="../../../assets//img//logo.png" class="mx-2 company-logo" alt="">
            <h3 style="color: #f8962a;" [class.hide]="toggling">Glocify </h3>
        </div>

      </header>

      <div class="menu-bar">
        <div class="menu">
          <p class="menu-p">MENU</p>
          <ul class="menu-links">
            <li class="nav-link">
              <a class="accordion">
                <i class="mdi mdi-speedometer"></i>
                <span class="text nav-text" routerLink="../dashboard">Dashboard</span>
              </a>
           
            </li>

            <li class="nav-link">
              <a >
                <i class="mdi mdi-view-grid-plus-outline"></i>
                <span class="text nav-text" routerLink="../dashboard/profile">Profile</span>
              </a>
            </li>

            <li class="nav-link">
              <a >
                <i class="mdi mdi-view-carousel-outline"></i>
                <span class="text nav-text">Layouts</span>
              </a>
            </li>
          </ul>
          <p class="menu-p">Pages</p>
          <ul class="menu-links">
            <li class="nav-link">
              <a class="accordion" >
                <i class="mdi mdi-account-circle-outline"></i>
                <span class="text nav-text">Authentication</span>
              </a>
              <ul class="panel">
                <li><a >Sign IN</a></li>
              </ul>
            </li>

            <li class="nav-link">
              <a >
                <i class="mdi mdi-sticker-text-outline"></i>
                <span class="text nav-text">Pages</span>
              </a>
            </li>

            <li class="nav-link">
              <a >
                <i class="ri-rocket-line"></i>
                <span class="text nav-text">Landing</span>
              </a>
            </li>
          </ul>
        </div>
 
      </div>
    </nav>

 



