
  <table class="table p-3 m-5 shadow">
    <thead>
      <tr>
        <th scope="col">Role id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let user of EmployeeList">
        <!-- <th scope="row">1</th> -->
        <td (click)="empProfile(user.id)">{{user.id}}</td>
        <td (click)="empProfile(user.id)">{{user.name}}</td>
        <td (click)="empProfile(user.id)">{{user.email}}</td>
        <td>
          <button class="btn btn-primary" (click)="EditEmployee(user.id)">Edit</button> 
          <button class="btn btn-danger mx-3" (click)="DeleteEmployee(user.id)">Delete</button>
        </td>
      </tr>
      
    </tbody>
  </table>